.TableHeadStyle {
    font-weight: 900 !important;
    font-size: 1.1rem;
    text-transform: capitalize;
    color: white !important;
    background-color: black;
    border: 2px solid black !important;
}

.TableStyle {
    border-collapse: collapse !important;
    border: 2px solid black !important;
}

.TableDataStyle {
    border: 2px solid black !important;
}

.darkRowStyle {
    background-color: LightGray;
    border: 2px solid black !important;
}

.darkRowStyle:hover {
    background-color: #6a6e8f;
}

.evenRowStyle {
    background-color: White;
    border: 2px solid black !important;
}

.evenRowStyle:hover {
    background-color: #9ab1f5;
}